<body>
    <h1 id="tituloIndex">Agregar Nueva Dirección:</h1>
    @Html.ValidationMessage("Excepcion")
    <form action="/Persona/NuevaDireccion">
        <div class="mb-3">
            <label for="Direccion" class="form-label">Dirección: </label>
            <input type="text" class="form-control" name="Direccion" id="Direccion">
            @Html.ValidationMessage("Direccion")
        </div>
        <div class="mb-3">
            <label for="Referencia" class="form-label">Referencia: </label>
            <input type="text" class="form-control" name="Referencia" id="Referencia">
            @Html.ValidationMessage("Referencia")
        </div>
        <button class="btn btn-dark btn-primary">Agregar Dirección</button>
        <a href="/Persona/Index" class="btn btn-link">Cancelar</a>
    </form>
</body>