<body>
    <h1 id="tituloIndex">Rastreo Maxdel</h1>
    <form action="/Tracking/Estado" method="post">
        <div class="mb-3">
            <label for="CodTracking" class="form-label">Ingrese Código de Tracking: </label>
            <input type="text" class="form-control" name="CodTracking" id="CodTracking">
            @Html.ValidationMessage("CodTracking")
        </div>
        <button class="btn btn-dark btn-primary">Buscar</button>
    </form>
</body>