@{
    Layout = "_LayoutAdmin";
}
<body>
    <h1>Pedidos Tienda: </h1>  
    <div class="container"  style="justify-content: center; display: flex;">
        <a href="/Pedidos/Espera" class="btn btn-light"> <img src="/Imagenes/espera.png" height ="100"  alt="Espera"/><br />En espera</a>
        <a href="/Pedidos/Entregado" class="btn btn-light"> <img src="/Imagenes/entrega.png" height ="100"  alt="Entregado"/><br />Entregados</a>
        <a href="/Pedidos/Anulado" class="btn btn-light"> <img src="/Imagenes/anulado.png" height ="100" alt="Anulado" /><br />Anulados</a>
    </div>
</body>