@{
    Layout = "_LayoutAdmin";
}
<body>
    <h1>Pedidos Tienda: </h1>  
    <div class="container">
        <a href="/Pedidos/Espera" class="btn btn-light"> <img src="/Imagenes/espera.png" height ="100" /><br />En espera</a>
        <a href="/Pedidos/Entregado" class="btn btn-light"> <img src="/Imagenes/entrega.png" height ="100" /><br />Entregados</a>
        <a href="/Pedidos/Anulado" class="btn btn-light"> <img src="/Imagenes/anulado.png" height ="100" /><br />Anulados</a>
    </div>
</body>