<body>
    <h1>
        Pedido Realizado con exito
    </h1>
    <div>
        <h2>Código tracking: "@ViewBag.nroTracking"</h2>
    </div>
    <h6>Guardad el código para rastrear tu pedido</h6>
</body>