@{
    Layout = "_LayoutAdmin";
}
<body>
    <br /><h1 align="center" id="tituloIndex"> Bienvenido Admin </h1><br />
    <div class="container" style="justify-content: center; display: flex;">
        <div class="mb-3">
            <a href="/Productos/Index" class="btn btn-light"> <img src="/Imagenes/productos.png" height ="100" alt="Productos"/><br />Productos</a>
        </div>  
        <div class="mb-3">
            <a href="/Vender/Index" class="btn btn-light"> <img src="/Imagenes/vender.png" height ="100" alt="Vender" /><br />Vender</a>
        </div> 
        <div class="mb-3">
            <a href="/Pedidos/Index" class="btn btn-light"> <img src="/Imagenes/pedidos.png" height ="100" alt="Pedidos" /><br />Pedidos</a>
        </div>
        <div class="mb-3">
            <a href="/Ventas/Index" class="btn btn-light"> <img src="/Imagenes/ventas.png" height ="100" alt="Ventas" /><br />Ventas</a>
        </div> 
        <div class="mb-3">
            <a href="/RegisterAdmin/Register" class="btn btn-light"> <img src="/Imagenes/agregarAdmin.png" height ="100" alt="Agregar Admin" /><br />Agregar Admin</a>
        </div> 
    </div>    
</body>