@{
    Layout = "_LayoutAdmin";
}
<body>
    <br /><h1 align="center"> Bienvenido Admin </h1><br />
    <a href="/Productos/Index" class="btn btn-light"> <img src="/Imagenes/productos.png" height ="100" /><br />Productos</a>
    <a href="/Pedidos/Index" class="btn btn-light"> <img src="/Imagenes/pedidos.png" height ="100" /><br />Pedidos</a>
</body>